#left_side_box {
    -fx-background-color: rgba(80, 80, 80, 0.5);
    -fx-border-width: 2;
    -fx-border-color: rgba(90, 90, 90, 0.6);
}

#left_side_box:hover {
    -fx-border-color: rgba(120, 120, 120, 0.7);
}

#left_side_box:hover .text {
    -fx-fill: rgba(250, 250, 250, 1);
}

@font-face {
    src: url("/fonts/Small-LCD-Sign.ttf");
}

.text {
    -fx-font-family: "Small LCD Sign";
    -fx-line-spacing: 5px;
    -fx-font-size: 12px;
    -fx-fill: rgba(250, 250, 250, 0.7);
}